@media only screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
  .card-container {
    width: 330px;
  }

  .card-content-container {
    padding: 1.8rem;
  }

  .card-text {
    padding: 0rem 1rem;
  }

  .btn-proceed {
    font-size: 1.3rem;
    padding: 1.2rem;
  }
}
