@media only screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
  .card-container {
    width: 330px;
  }

  .card-img {
    margin-bottom: 1rem;
  }

  .card-content-container {
    padding: 2rem;
  }

  .card-title {
    margin-bottom: 1.5rem;
  }

  .card-text {
    font-size: 1.3rem;
    padding: 0rem 1rem;
    margin-bottom: 2rem;
  }

  .annual-plan-container {
    padding: 1rem;
    margin-bottom: 2.2rem;
  }

  .price-container {
    font-size: 1.2rem;
    margin-left: 1.5rem;
  }

  .btn-proceed {
    font-size: 1.3rem;
    padding: 1.2rem;
  }

  .change {
    font-size: 1.1rem;
  }
}
