/* ------------------- CSS RESET --------------------  */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  font-size: 16px;
  height: 100%;
}
body {
  background: hsl(225, 100%, 94%) url(../images/pattern-background-desktop.svg)
    0 0 / contain no-repeat;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Red Hat Display", sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}
/* ------------------- CSS RESET --------------------  */

/* ## Colors

### Primary

- Pale blue: hsl(225, 100%, 94%)
- Bright blue: hsl(245, 75%, 52%)

### Neutral

- Very pale blue: hsl(225, 100%, 98%)
- Desaturated blue: hsl(224, 23%, 55%)
- Dark blue: hsl(223, 47%, 23%) */

.card-container {
  display: flex;
  flex-direction: column;
  width: 450px;
  background-color: hsl(225, 100%, 98%);
  border-radius: 1.5rem;
}

.card-img {
  border-radius: 1.5rem 1.5rem 0rem 0rem;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  padding: 3rem;
}

.card-title {
  font-weight: 900;
  text-align: center;
  color: hsl(223, 47%, 23%);
  line-height: 1;
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
}

.card-text {
  text-align: center;
  color: hsl(224, 23%, 55%);
  margin-bottom: 1.2rem;
  padding: 0rem 1.5rem;
}

.annual-plan-container {
  background-color: hsl(225, 100%, 97%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.price-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.plan-type {
  font-weight: 900;
  color: hsl(223, 47%, 23%);
}

.plan-price {
  color: hsl(224, 23%, 55%);
}

.change {
  font-size: 0.9rem;
  font-weight: 700;
  margin-left: auto;
  border: none;
  text-decoration: underline;
  color: hsl(245, 75%, 52%);
  cursor: pointer;
  background-color: inherit;
}

.change:hover {
  color: hsl(245, 75%, 65%);
  text-decoration: none;
}

.btn-proceed {
  font-weight: 700;
  border: none;
  background-color: hsl(245, 75%, 52%);
  color: hsl(225, 100%, 98%);
  padding: 0.9rem;
  border-radius: 1rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-bottom: 2rem;
  transition: all 0.3s;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn-proceed:hover {
  background-color: hsl(245, 75%, 65%);
}

.btn-cancel {
  width: fit-content;
  background-color: inherit;
  border: none;
  color: hsl(224, 23%, 55%);
  font-weight: 900;
  cursor: pointer;
  align-self: center;
  transition: all 0.3s;
}
.btn-cancel:hover {
  color: hsl(223, 47%, 23%);
}

.attribution {
  margin-top: 2rem;
  font-size: 0.9rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
